/* General link styles */
a {
  color: #94e2d5 !important;         /* Mint green */
  text-decoration: none !important;
}

a:hover {
  color: #ffaa26 !important;         /* Orange hover */
  text-decoration: underline !important;
}

/* Top menu active item (inside <span class="active">) */
header span.active {
  color: #ff6663 !important;         /* Red */
  font-weight: bold !important;
  text-decoration: none !important;
}

body {
  font-family: 'JetBrains Mono', monospace !important;
}